<div class="page" *ngIf="poolDetails !== null">
  <h1>{{poolDetails.name}}</h1>
  
  <table>
    <tbody>
      <tr>
        <th>Address:</th>
        <td>{{address}}</td>
      </tr>

      <tr>
        <th>Owner:</th>
        <td>{{poolDetails.owner}}</td>
      </tr>

      <tr *ngIf="poolDetails.fixedPaymentAmountWei > 0">
        <th>Fixed payment amount (Wei):</th>
        <td>{{poolDetails.fixedPaymentAmountWei}}</td>
      </tr>

      <tr>
        <th>Uses ERC 721 tokens?</th>
        <td>{{poolDetails.useErc721 ? "Yes" : "No"}}</td>
      </tr>

      <tr>
        <th>Disburses a single payment?</th>
        <td>{{poolDetails.useSinglePayment ? "Yes" : "No"}}</td>
      </tr>

      <tr>
        <th>Current state:</th>
        <td>
          {{poolDetails.stateExternalName}}

          <div *ngIf="isOwner">
            <button
              *ngIf="poolDetails.stateName === 'registration' && poolDetails.participantAddresses.length > 1"
              (click)="onClickCloseRegistration()">
              Close Registration
            </button>

            <button
              *ngIf="poolDetails.stateName === 'mintingTokens'"
              (click)="onClickMintTokens()">
              Mint Tokens
            </button>

            <button
              *ngIf="poolDetails.stateName === 'mintingTokens'"
              (click)="onClickTransitionToPaymentSubmission()">
              Transition to Payment Submission
            </button>
          </div>
        </td>
      </tr>

      <tr *ngIf="poolDetails.useErc721">
        <th>Number of tokens minted:</th>
        <td>{{poolDetails.numTokensMinted}}</td>
      </tr>

      <tr>
        <th>Total amount paid in so far (wei):</th>
        <td>{{poolDetails.totalWei}}</td>
      </tr>

      <tr>
        <th>Number of participants:</th>
        <td>{{poolDetails.participantAddresses.length}}</td>
      </tr>

      <tr>
        <th>Participants:</th>
        <td>
          <app-participant-list-widget
            [isOwner]="isOwner"
            [triggerPoolDetailsUpdate]="triggerPoolDetailsUpdate"
            [poolInstance]="poolInstance"
            [poolDetailsUpdateStream]="poolDetailsUpdateStream">
          </app-participant-list-widget>
        </td>
      </tr>

      <tr>
        <th>Number of participants that have paid so far:</th>
        <td>{{poolDetails.numParticipantsPaid}}</td>
      </tr>

      <tr>
        <th>Payments made:</th>
        <td>
          <ul>
            <li *ngFor="let paymentMade of paymentsMade">
              <strong>{{paymentMade.shortenedParticipant}}:</strong>
              {{paymentMade.paymentMadeWei}} wei
            </li>
          </ul>
        </td>
      </tr>

      <tr *ngIf="poolDetails.useErc721 && (poolDetails.stateName === 'calcWithdrawalTokens' || poolDetails.stateName === 'distribution')">
        <th>Pending 721 withdrawals:</th>
        <td>
          <ul>
            <li *ngFor="let pending721Withdrawal of pending721Withdrawals">
              <strong>{{pending721Withdrawal.shortenedParticipant}}:</strong>
              {{pending721Withdrawal.pending721Amount}} tokens
            </li>
          </ul>
        </td>
      </tr>
    </tbody>
  </table>

  <div *ngIf="isParticipant">
    <input
      type="text"
      name="paymentAmountWei"
      [(ngModel)]="paymentAmountWei"
      placeholder="amount in wei" />

    <button (click)="onClickMakePayment(paymentAmountWei)">
      Make Payment
    </button>
  </div>

  <pre>{{poolDetails | json}}</pre>
</div>

