@import url('https://fonts.googleapis.com/css?family=Maven+Pro');
h1, h2, h3, h4, p {
  margin: 0;
}

html {
  height: 100vh;
  width: 100vw;
}

body {
  font-family: 'Raleway', sans-serif;
  margin: 0;
  height: inherit;
  width: inherit;
}

h1 {
  font-size: 32pt;
}

h2 {
  font-size: 26pt;
}

h3 {
  font-size: 20pt;
}

p {
  font-size: 14pt;
}

.app-root {
  display: flex;
  width: inherit;
  height: inherit;
  height: 100vh;
}

.router-root {
  flex: 1;
  height: inherit;
  background: #f1f1f1;
}

.basic-display {
  display: flex;
  padding: 16px;
  overflow: auto;
  width: calc(100% - 32px);
  flex-direction: column;
}

.frame {
  border-radius: 4px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  background: white;
  border: thin solid silver;
  margin-bottom: 32px;
}

.frame .frame-header {
  border-bottom: thin solid lightblue;
  padding: 16px;
  padding-bottom: 8px;
}

.frame .frame-body {
  padding: 16px;
}

button {
  min-height: 42px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  background: #64FFDA;
  border: thin solid lightblue;
  border-radius: 4px;
  color: #000;
}

button.no-style {
  border: none;
  background: none;
  border: none;
  box-shadow: none;
}

button:not(:disabled) {
  cursor: pointer;
}

button img {
  position: relative;
  top: 9px;
  width: 32px;
  height: 32px;
  margin-right: 8px;
}

button:disabled {
  opacity: 0.5;
  background: gray;
  box-shadow: none;
}

table tr th {
  text-align: left;
}

table tr:nth-child(odd) {
  background-color: #E0F2F1;
}

.page {
  padding: 2vw 2vh;
}