<div class="basic-display">

  <h1>Create a new pool</h1>

  <div class="contents">

    <form #poolForm="ngForm" (ngSubmit)="onSubmit()">

      <div class="form-group">
        <label for="poolName">Pool Name</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="poolName"
          name="poolName"
          id="poolName"
          #poolNameControl="ngModel"
          required />
        <div [hidden]="poolNameControl.valid || poolNameControl.pristine" class="alert alert-danger">Pool name is required</div>
      </div>

      <div class="form-group">
        <label for="paymentType">Payment Type</label>
        <select
          class="form-control"
          [(ngModel)]="paymentType"
          name="paymentType"
          id="paymentType"
          required>
          <option *ngFor="let pmtType of paymentTypes" [value]="pmtType">{{pmtType}}</option>
        </select>
      </div>

      <div class="form-group" *ngIf="paymentType === 'fixed'">
        <label for="fixedPaymentAmountWei">Fixed payment amount (wei)</label>
        <input
          type="number"
          class="form-control"
          name="fixedPaymentAmountWei"
          id="fixedPaymentAmountWei"
          [(ngModel)]="fixedPaymentAmountWei"
          min="1" />
      </div>

      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          name="useErc721"
          [(ngModel)]="useErc721"
          id="useErc721" />
        <label
          class="form-check-label"
          for="useErc721">
          Use ERC 721 Tokens?
        </label>
      </div>
      
      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          name="useSinglePayment"
          [(ngModel)]="useSinglePayment"
          id="useSinglePayment" />
        <label
          class="form-check-label"
          for="useSinglePayment">
          Use single payment?
        </label>
      </div>

      <button
        type="submit"
        [disabled]="!poolForm.form.valid"
        (onClick)="onSubmit()">
        Create Pool
      </button>
    </form>
  </div>

</div>