<div class="basic-display">

  <h2>Create A New Pool</h2>

  <div class="contents">

    <form #poolForm="ngForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="poolName">Pool Name</label>
        <input type="text" id="form-control" id="poolName" [(ngModel)]="pool.poolName" name="poolName" required #poolName="ngModel"
        />
        <div [hidden]="poolName.valid || poolName.pristine" class="alert alert-danger">Pool name is required</div>
      </div>

      <div class="form-group">
        <label for="paymentType">Payment Type</label>
        <select class="form-control" id="paymentType" [(ngModel)]="pool.paymentType" name="paymentType" required>
          <option *ngFor="let pmtType of paymentTypes" [value]="pmtType">{{pmtType}}</option>
        </select>
      </div>

      <div class="form-group">
        <label for="startDate">Start Date</label>
        <input type="date" id="startDate" name="startDate" [(ngModel)]="pool.startDate" required />
      </div>

      <div class="form-group">
        <label for="endDate">Start Date</label>
        <input type="date" id="endDate" name="endDate" [(ngModel)]="pool.endDate" required />
      </div>

      <button type="submit" [disabled]="!poolForm.form.valid">Create Pool</button>
    </form>

    <div class="frame">
      <div class="frame-header">
        <h3>Invited Users</h3>
      </div>
      <div class="frame-body">
        <ul>
          <li *ngFor="let users of pool.users">{{user.name}}</li>
        </ul>
      </div>

    </div>
  </div>

</div>