.screen-cover .loading-indicator {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 2px 2px 10px 5px rgba(0, 0, 0, 0.2);
}

  .screen-cover .loading-indicator p {
    text-align: center;
  }

  .screen-cover .loading-indicator .spinner {
    animation: spinner 1s linear infinite;
  }

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}