<ul [ngClass]="{ 'no-bullets': isOwner }">
  <li *ngFor="let participantAddress of participants">
    <button
      *ngIf="isOwner && stateName === 'registration'"
      class="x"
      (click)="onClickRemoveParticipant(participantAddress)">
      X
    </button>
    {{participantAddress}}
  </li>
</ul>

<div *ngIf="isOwner && stateName === 'registration'">
  <input
    type="text"
    [(ngModel)]="newParticipantAddress"
    placeholder="participant address" />

  <button
    (click)="onClickAddParticipant(newParticipantAddress)">
    Add Participant
  </button>

  <p *ngIf="errorMessage">{{errorMessage}}</p>
</div>
